
body {
  overflow-x: hidden; 
}
  .title{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
  }
  .col-md-4{
    height: 50vh;
  }



<!--margin css property of div-->
.row{
margin:20px;
}
 .btn:hover{
    background-color: black;
  }

<!--animation css property-->
.div-anim1 {
--animate-duration: 1.2s;
}

.div-anim2 {
--animate-duration: 0.8s;
}

.div-anim3 {
--animate-duration: 0.5s;
}

.div-anim4{
--animate-duration :0.5s;
}

.div-anim5{
--animate-duration : 0.8s;
}
.div-anim6{
--animate-duration : 1.2s;
}
</style>